*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Courier New', Courier, monospace;
}

.all-contents
{
    width: 400px;
    margin:auto;
    background-color: lightgray;
    border-radius: 10px;
    padding:10px
}
.title
{
    background-color:  hsla(231, 74%, 27%, 0.466);
    
    border-radius: 10px;
    padding: 8px;
    width: 380px;
    margin: auto;
    margin-bottom: 10px;
}
.img
{
    text-align: center;
    margin-bottom: 40px;
}
img
{
    margin: auto;
    border-radius:10px;
    width: 380px;
    height: 200;
}
h1
{
    text-align: center;
}
.whites
{
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.521);
    font-size: 28px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
}
p{

    margin-left: 20px;
}
li
{
    margin: 10px;

}
.home-button
{
    width: 380px;
    height: auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;

    background-color:  rgba(255, 255, 255, 0.521);

}
a
{
    font-size: 28px;
    text-decoration: none;
    color: black;

}