*
{
    box-sizing: border-box;
}
body
{
    font-family: Century-Gothic, Courier, monospace;
}

.index
{
    width: 320px;
    margin: auto;
    border-radius: 10px;
    background: lightgrey;
    padding: 8px;
}
.title
{

    width: 300px;
    border: 2px solid none;
    margin:0px 50px 0px 50px;
    border-radius:10px ;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-bottom: 100px;
    background-color: hsla(231, 74%, 27%, 0.466);
}

a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30
}

ul
{   margin: 0px;
    padding:0px;
    list-style: none;
}


li
{
    width: 300px;
    border-radius: 8px;
    color: black;
    margin:8px auto;
    text-align: center;
    padding: 8px;
    border: 2px solid none;
    background-color:hsla(231, 74%, 27%, 0.466)
}

